################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
plugin.video.fenlight/resources/lib/modules/yt_dlp/yt_dlp/
